.about-content .image-wrapper {
    position: relative;
}

.about-content .image-wrapper:before {
    content            : '';
    background-image   : url('/assets/images/about_shapes.png');
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    width              : 250px;
    height             : 250px;
    top                : -40px;
    right              : -50px;
    z-index            : -1;
    animation          : aboutAmini linear 2s infinite alternate;
    -webkit-animation  : aboutAmini linear 2s infinite alternate;
}

.about-content .image-wrapper img {
    width: 500px;

}

@media (min-width:768px) {
    .about-content .text-wrapper {
        width: 50%;
    }

    .about-content .image-wrapper {
        width: 50%;
    }
}

@media (max-width:768px) {
    .about-content .text-wrapper {
        width: 100%;
    }

    .about-content .image-wrapper {
        width: 100%;
    }

    .about-content .image-wrapper img {
        margin : 0 auto;
        display: block;
    }
}