.infinity {
    display                  : -webkit-box;
    display                  : -moz-box;
    display                  : -ms-flexbox;
    display                  : -webkit-flex;
    display                  : flex;
    -webkit-align-items      : center;
    -ms-flex-align           : center;
    align-items              : center;
    gap                      : 2rem;
    animation-name           : infiniteScroll;
    animation-duration       : 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin                   : 0;
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.code-wrapper {
    position: absolute;
    
}

.code-container {
    margin : 0 10px 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.code-container p {
    border-right: .15em solid transparent;
    white-space : nowrap;
    overflow    : hidden;
    width       : 0;
}



@media (min-width:850px) {
    .code-wrapper{
        width: 780px;
        max-width: 780px;
        right : 2rem;
        bottom: 0rem;
    }
    .code-wrapper code p {
        margin   : 0;
        font-size: 2.5rem;
    }
}

@media (max-width:850px) {
    .code-wrapper {
        width: 100%;
        max-width: 100%;
        left: 0;
        bottom: 0;
    }
    .code-wrapper code p {
        margin   : 0;
        font-size: 1.5rem;
    }
}

@media (max-width:540px) {
    .code-wrapper {
        display: none;
    }
}

@media (min-width:540px){
    .code-wrapper{
        display:block;
    }
}



.about-wrapper {
    position: relative;
}


/* ANIMATIONS */
.line1-animation {
    animation: typing1 2s steps(30) 0s forwards, blink-caret 1s linear 0s 2;
}

@keyframes typing1 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.line2-animation {
    padding-left: 5rem;
    animation  : typing2 1.8s steps(23) 2s forwards, blink-caret 1s linear 2s 2;
}

@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.line3-animation {

    padding-left: 5rem;
    animation  : typing3 3s steps(34) 3.8s forwards, blink-caret 1s linear 3.8s 3;
}

@keyframes typing3 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.line4-animation {
    animation: typing4 0.4s steps(2) 6.8s forwards, blink-caret 1s linear 6.8s infinite;
}

@keyframes typing4 {
    from {
        width: 0;
    }

    to {
        width: 5%;
    }
}

@keyframes blink-caret {

    20%,
    80% {
        border-color: transparent;
    }

    25%,
    75% {
        border-color: orange;
    }
}


@keyframes aboutAmini {
    0% {
        transform        : scale(1);
        -webkit-transform: scale(1);
        -moz-transform   : scale(1);
        -ms-transform    : scale(1);
        -o-transform     : scale(1);
    }

    100% {
        transform        : scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform   : scale(1.1);
        -ms-transform    : scale(1.1);
        -o-transform     : scale(1.1);
    }
}

@media (prefers-color-scheme: light) {
    .code-wrapper {
        opacity: 0.5;
        z-index: 2;
    }
}

@media (prefers-color-scheme: dark) {
    .code-wrapper {
        opacity : 0.2;
        z-index:-1;
    }
}

