.form-wrapper {
    background-color: var(--colorSecondary);
    padding         : 4rem;
}

.contact-items {
    margin-top: 2rem;

}

.contact-items .item {
    background-color  : var(--colorSecondary);
    padding           : 3rem;
}

.contact-items .item .icon {
    width: 60px;

}


@media (min-width:768px) {
    .contact-content .text-wrapper {
        width: 50%;
        position: sticky;
        position: -webkit-sticky;
        top:0;
    }

    .contact-content .form-wrapper {
        width: 50%;
    }

    .contact-items .item {
        width: 50%;
    }
}