.form-wrapper{
    background-color: var(--colorSecondary);
    padding: 4rem;
}
.contact-items .item{
     background-color: var(--colorSecondary);
     padding: 3rem;
}

.contact-items .item img{
 

}


@media (min-width:768px) {
    .contact-content .text-wrapper {
        width: 50%;
    }
    .contact-content .form-wrapper {
        width: 50%;
    }
    .contact-items .item {
        width: 50%;
    }
}

