input,
textarea{
    padding: 1.5rem 2rem;
    border: 1px solid var(--colorPrimary);
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

input:focus,
textarea:focus {
    border:1px solid var(--colorHover);
}

input:focus-visible,
textarea:focus-visible{
    outline:none;
}

input[type=checkbox],
input[type=radio]{
    width: auto;
}

legend{
    margin-bottom: 1rem;
}


fieldset{
    border:none;
    width: 100%;
    
}