.form-content{
    position:relative;
}

.contact-form input,
.contact-form textarea{
    padding: 1.5rem 2rem;
    border: 1px solid var(--colorPrimary);
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border:1px solid var(--colorHover);
}

.contact-form input:focus-visible,
.contact-form textarea:focus-visible{
    outline:none;
}

.contact-form input[type=checkbox],
.contact-form input[type=radio]{
    width: auto;
}

.contact-form [type="radio"]:checked,
.contact-form [type="radio"]:not(:checked),
.contact-form [type="checkbox"]:checked,
.contact-form [type="checkbox"]:not(:checked){
    position: absolute;
    left    : -9999px;
}

.contact-form [type="radio"]:checked+label,
.contact-form [type="radio"]:not(:checked)+label,
.contact-form [type="checkbox"]:checked+label,
.contact-form [type="checkbox"]:not(:checked)+label {
    position    : relative;
    padding-left: 28px;
    cursor      : pointer;
    line-height : 20px;
    display     : inline-block;
    margin-bottom: 1rem;
    
    transition: all 0.2s;
}

.contact-form [type="radio"]:checked+label,
.contact-form [type="checkbox"]:checked+label{
    color: var(--colorPrimary);
}

.contact-form [type="radio"]:checked+label:before,
.contact-form [type="radio"]:not(:checked)+label:before,
.contact-form [type="checkbox"]:checked+label:before,
.contact-form [type="checkbox"]:not(:checked)+label:before {
    content      : '';
    position     : absolute;
    left         : 0;
    top          : 0;
    width        : 18px;
    height       : 18px;
    border       : 1px solid var(--colorPrimary);
    background   : var(--bgColor);
    margin-right: 5px;
}

.contact-form [type="radio"]:checked+label:before,
.contact-form [type="radio"]:not(:checked)+label:before{
    border-radius: 100%;
    border : 1px solid var(--colorPrimary);
}


.contact-form [type="radio"]:checked+label:after,
.contact-form [type="radio"]:not(:checked)+label:after,
.contact-form [type="checkbox"]:checked+label:after,
.contact-form [type="checkbox"]:not(:checked)+label:after {
    content           : '';
    width             : 12px;
    height            : 12px;
    background        : var(--colorPrimary);
    position          : absolute;
    top               : 4px;
    left              : 4px;
    -webkit-transition: all 0.2s ease;
    transition        : all 0.2s ease;
}

.contact-form [type="radio"]:checked+label:after,
.contact-form [type="radio"]:not(:checked)+label:after{
    border-radius : 50%;
}

.contact-form [type="radio"]:not(:checked)+label:after,
.contact-form [type="checkbox"]:not(:checked)+label:after {
    opacity          : 0;
    -webkit-transform: scale(0);
    transform        : scale(0);
}

.contact-form [type="radio"]:checked+label:after,
.contact-form [type="checkbox"]:checked+label:after {
    opacity          : 1;
    -webkit-transform: scale(1);
    transform        : scale(1);
}

.contact-form legend{
    margin-bottom: 1rem;
}

.contact-form .label:hover{
    color: var(--colorPrimary)!important;
    cursor:pointer;

}

.contact-form fieldset{
    border:none;
    width: 100%;
    
}

@media (max-width: 1024px){
    .action{
        display: block;
    }
}