.header-wrapper {
    background-color: var(--bgColor);
    position        : sticky;
    top             : 0;
    z-index:999999;
}

.header {
    padding-top            : 0.5rem;
    padding-bottom         : 0.5rem;
    display                : -webkit-box;
    display                : -moz-box;
    display                : -ms-flexbox;
    display                : -webkit-flex;
    display                : flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack          : justify;
    justify-content        : space-between;
    -webkit-align-items    : center;
    -ms-flex-align         : center;
    align-items            : center;

}

.logo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    gap    : 0.5rem;
}

.logo img {
    width: 50px;

}

.logo span {
    font-size: 2rem;
}

.header nav menu {
    display                : -webkit-box;
    display                : -moz-box;
    display                : -ms-flexbox;
    display                : -webkit-flex;
    display                : flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack          : justify;
    justify-content        : space-between;
    -webkit-align-items    : center;
    -ms-flex-align         : center;
    align-items            : center;
    gap                    : 2rem;

}

.header nav menu a:after{
    content    : '';
    display   : block;
    width     : 0;
    height    : 2px;
    background: #000;
    transition: width .3s;
}

.header nav menu a:hover:after {
    width: 100%;
    transition: width .3s;
}

.bar {
    width     : 0;
    height    : 5px;
    background: var(--colorPrimary);

    animation         : resize auto linear forwards;
    animation-timeline: scroll(root block);
}

@keyframes resize {
    from {
        width: 0%
    }

    /* Se puede omitir */
    to {
        width: 100%
    }
}

@media (min-width: 640px) {}