.skill-wrapper .skill-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap;
}

.skill-wrapper .container.section{
    padding-bottom: 0;
}

.skill-wrapper .article .range__label {
    display      : block;
    margin-bottom: 1rem;
    position     : relative;
}

.skill-wrapper .article .range__label:before {
    content         : '';
    width           : 25px;
    height          : 25px;
    background-image: url('../images/icons/arrow-badge-right-filled.svg');
    background-size : cover;
    display         : block;
    position        : absolute;
    left            : -25px;
    top             : -2px;
    filter: invert(79%) sepia(14%) saturate(1471%) hue-rotate(98deg) brightness(97%) contrast(92%);
}

.skill-content:hover .range:after{
    --width          : calc(var(--p) * 1%);
    position         : absolute;
    color : var(--colorSecondary);
    top              : 50%;
    line-height: 1.5;
    left             : 0;
    width            : 0;
    height           : 100%;
    background-color : var(--colorPrimary);
    z-index          : 0;
    -webkit-animation: load 0.7s forwards ease-in;
    animation        : load 0.7s forwards ease-in;
}


.range {
    position        : relative;
    background-color: var(--colorHover);
    width           : 100%;
    height          : 22px;
}

.range:before {
    --width          : calc(var(--p) * 1%);
    content          : "";
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : 0;
    height           : 100%;
    background-color : var(--colorPrimary);
    opacity:0.3;
    z-index          : 0;
    -webkit-animation: load 1s forwards ease-in;
    animation        : load 1s forwards ease-in;
}

.range:after {
    counter-reset: progress var(--p);
    content      : '';
    width: 100%;
    color        : var(--colorWhite);
    position     : absolute;
    left         : 0;
    top          : 50%;
    transform    : translateY(-50%) ;
    z-index      : 1;

}

.range:hover:after {
    width: var(--width);
}

.range__label {
    margin-bottom: 1rem;
    line-height: 1.5;
}

@-webkit-keyframes load {
    to {
        width: var(--width);
    }
}

@keyframes load {
    to {
        width: var(--width);
    }
}

.certification .icon{
    width: 4rem;
}


.certification.desktop-hidden{
    border:none;
    animation        : aboutAmini linear 2s infinite alternate;
    -webkit-animation: aboutAmini linear 2s infinite alternate;
}


@media (min-width:1400px) {
    .skill-wrapper .article {
        width: 25%;
    }
}

@media (min-width:1024px) and (max-width:1400px){
    .skill-wrapper .article {
        width: 40%;
    }
}

@media (max-width:1024px) {
    .skill-wrapper .article {
        width: 100%;
        margin-bottom: 2rem;
    }
    .skill-content{
        max-width: 600px;
        margin:0 auto;
    }
}

@media(max-width:698px){
    .certification.desktop-hidden{
        display:none;
    }
}