:root {
    color-scheme   : dark light;
    --font-size    : 16px;
    --PrimaryFont  : "Poppins", sans-serif;
    --secondaryFont: "Open Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --colorPrimary  : #55e6a5;
        --colorSecondary: #02050a;
        --bgColor       : #09101a;
        --bodyBg        : #02050a;
        --colorWhite    : #ffffff;
        --colorHover    : #4f5359;
        --ratingColor   : #ffba08;
        --bodyColor     : #a2a2a2;
        --font-color    : #F2F2F2;
        --color-link    : #55e6a5;
        --colorBtn      : #02050a;
        --colorBorder   : #e3e3e310;
        --colorBorderPrimary : #4cc28d;
        --colorBorderSecondary : #2b8059;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        --colorPrimary  : #025259;
        --colorSecondary: #E4E3E5;
        --bgColor       : #E4E3E5;
        --bodyBg        : #E4E3E5;
        --colorWhite    : #ffffff;
        --colotHover    : #02050a;
        --ratingColor   : #ffba08;
        --bodyColor     : #a2a2a2;
        --font-color    : #011F26;
        --color-link    : #025259;
        --colorBtn      : #E4E3E5;
        --colorBorder   : #02050a;
        --colorBorderPrimary : #1a1f26;
        --colorBorderSecondary : #3a4048;
    }

}